.App {
  text-align: center;
  text-decoration: none;
  min-width: 100%;
  border: 1px solid black;
  background-color: grey;
  position: relative;
}

nav {
  background-color:midnightblue;
  position: relative;
  height: 80px;
  margin-top: 0px;
}
.header {
  color: mediumspringgreen;
  margin-top: 0;
  font-family:cursive;
}
ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

li {
  width: 80px;
  border-radius: 10px;
  color: aquamarine;
  background-color: purple;
  margin-bottom: 0px;
  list-style: none;
}

a {
  color: aquamarine;
  border: none;
  text-decoration: none;
  transition-duration: 0.3s;
  
}
a:hover {
  color: rgb(0, 204, 255);
  font-size: 17px;
  font-family:Verdana, Tahoma, sans-serif;
}

