.post {
  border: 1px solid black;
  border-radius: 20px;
  width: 70%;
  height: 100px;
  margin: auto;
  background-color: darkgray;
  margin-top: 10px;
  position: relative;
}
h3 {
  color: midnightblue;
  text-transform: uppercase;
  font-family: cursive;
}
button {
  background-color: cornflowerblue;
  width: 100px;
  font-family: cursive;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition-duration: .2s;
}
button:hover {
  background-color: rgb(0, 119, 255);
  font-size: 15px;
  text-decoration: underline;
}
